.header-contents {
  max-width: 1000px;
  margin: 0px auto;
  padding: 45px 20px 35px;
}
.logo {
  float: left;
}
.the-point-logo,
.company-motto {
  float: left;
}
.the-point-logo {
  padding-right: 25px;
}
.company-motto {
  margin-top: 5px;
  border-left: 1px solid #b2b2b2;
  padding: 10px 7px;
}

.company-motto {
  display: inline-block;
}
.search {
  float: right;
  padding: 7px 0px 7px 10px;
  margin-top: 5px;
}

/* .search input {
   border-radius: 0px;
} */
/* .navbar {
  background: ;
} */

.navbar-contents {
  max-width: 1000px;
  margin: 0px auto;
  border-top: 1px solid #dddddd;
}

.navigation {
  float: left;
}
.navigation ul {
  list-style: none;
}
.navigation ul li {
  float: left;
  margin: 13px 0px 13px 18px;
  padding-right: 18px;
  font-size: 12px;
  border-right: 1px solid #c9c9c9;
}
.navigation ul li:last-child {
  border-right: none;
}

.social {
  float: right;
}

.slider-content {
  width: 1000px;
  height: 500px;
  margin: 0px auto;
  background: url("../img/main.jpg") no-repeat center center/cover;
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a4a4a;
  text-align: center;
  padding: 5px 0px;
}
.overlay p {
  color: white;
  font-size: 13px;
}
.shout-contents {
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
}
.shout-contents h1 {
  font-size: 38px;
  line-height: 57px;
  font-weight: normal;
  color: #4a4a4a;
}
.shout-contents p {
  color: #999999;
  line-height: 26px;
  font-size: 26px;
}
.team-content {
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 50px;
  border-bottom: 2px solid #e8e8e8;
}
.profile {
  float: left;
  width: 25%;
  text-align: center;
}
.name {
  padding: 20px 0px 25px;
  font-size: 13px;
}
.name h6 {
  margin-bottom: 5px;
  color: #999999;
  font-weight: normal;
  /* line-height: 15.6px; */
}
.name a {
  color: #d54346;
}
.project-work #latest {
  font-size: 20px;
  /* margin-bottom: 15px; */
  padding-bottom: 25px;
}
.project-work .red {
  font-size: 66px;
}
.latest-work-content {
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 35px;
}
.project-work {
  float: left;
  text-align: right;
  width: 33.33%;
  padding-left: 10px;
  padding-right: 10px;
}
.project {
  float: left;
  width: 33.33%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.project-desc {
  /* margin-top: 10px; */
  padding: 25px 0px 10px;
}
.project-desc h2 {
  font-weight: normal;
}

.project-desc p {
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  color: #999999;
}
.box-1,
.box-2,
.box-3 {
  float: left;
  text-align: left;
}
.footer-content {
  width: 1000px;
  margin: 0px auto;
}
.box-1,
.box-2,
.box-3 {
  width: 33.33%;
}
.footer-content {
  padding: 15px;
}
.box-1 {
  color: white;
}
.box-1 h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
.box-1 p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}
.box-2 {
  padding-left: 10px;
  font-size: 12px;
}
.box-2 ul {
  /* list-style-position: inside; */
  /* padding-left: 20px; */
  /* list-style-type: " \00BB"; */
  list-style: none;
  padding-top: 15px;
  color: white;
}
.box-2 ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: 25px; */
  border-bottom: 1px solid #d85255;
  color: white;
}
.box-2 span {
  padding-right: 10px;
  color: white;
}
.box-3 form {
  /* width: 100%; */
}
.box-3 form input {
  margin-top: 10px;

  width: 100%;
}
