/* header css */
.header-contents {
  text-align: center;
  padding-top: 43px;
  padding-bottom: 33px;
}
.logo #company-motto {
  color: #b2b2b2;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 9px;
}
.search #search-query {
  font-size: 12px;
  border: 1px solid #dddddd;
  padding: 5px 40px 5px 4px;
}
.search .btn {
  font-size: 0.75rem;
  color: white;
  border: 1px solid #d54346;
  background-color: #d54346;
  padding: 5px 4px 5px 4px;
}
.ham {
  /* height: 30px; */
  /* width: 30px; */
}
.ham label span {
  margin: 5px;
  display: block;
  width: 5%;
  padding-top: 5px;
  border-top: 2px solid black;
}
/* navbar css */
#toggle {
  display: none;
}
#toggle:checked + .navbar {
  display: block;
}
.navbar {
  /* display: none; */
  text-align: center;
}
.navbar ul {
  float: none;
}
.navbar ul li {
  padding-top: 10px;
  /* padding-bottom: 10px; */
}
.navbar ul li:last-child {
  padding-bottom: 10px;
}
.navbar,
.social {
  display: none;
  float: none;
}
.navbar ul li p {
  display: none;
}
.slider-content {
  max-width: 1000px;
  max-height: 500px;
  margin: 0px auto;
  /* background: url("../img/main.jpg") no-repeat center/cover; */
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f0f0f;
  text-align: center;
  padding: 13px 0px;
  height: 8%;
}
.overlay p {
  color: white;
  font-size: 13px;
  /* line-height: 1; */
  height: 100%;
}
.slider .slider-content img {
  width: 100%;
}
.shout {
  padding-top: 10px;
  padding-bottom: 10px;
}
.shout-contents {
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
}
.shout-contents h1 {
  font-size: 38px;
  /* line-height: 57px; */
  font-weight: normal;
  color: #4a4a4a;
}
.shout-contents p {
  color: #999999;
  /* line-height: 26px; */
  font-size: 26px;
}

@media (min-width: 480px) {
  .header-contents {
    margin: 0px auto;
    max-width: 1000px;
  }
  .logo {
    float: left;
  }
  .logo #main-logo {
    float: left;
    padding-right: 33px;
  }
  .logo #company-motto {
    float: left;
    border-left: 1px solid #b2b2b2;
    margin-top: 10px;
  }

  .search {
    float: right;
  }
  .search input {
    margin-top: 9px;
  }

  .search #search-query {
    padding: 10px 81px 10px 9px;
  }
  .search .btn {
    padding: 10px 9px 10px 9px;
  }
  .navbar-social-contents {
    margin: 0px auto;
  }

  .ham .navbar {
    display: block;
    float: left;
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .ham label,
  .ham input {
    display: none;
  }
  .navbar-social-contents {
    max-width: 1000px;
  }
  .navbar ul li {
    float: left;
    padding: 3px 20px 3px 20px;
    font-size: 12px;
    border-right: 1px solid #c9c9c9;
  }
  .navbar ul li:first-child {
    padding-left: 0px;
  }
  .navbar ul li:last-child {
    border-right: none;
    padding-right: 0px;
  }
  .navbar ul li h2 {
    line-height: 1;
  }
  .navbar ul li p {
    display: block;
    margin-top: 4px;
    line-height: 1;
  }
  .social {
    display: block;
    float: right;
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .social ul li {
    float: left;
    /* border: 1px solid black; */
    height: 32px;
    width: 32px;
  }
  .social i {
    display: block;
    margin-right: 10px;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    background-color: #333333;
  }
  .social i:hover {
    background-color: #ee802f;
  }
  .shout {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
