.header-contents {
  text-align: center;
  max-width: 1000px;
  padding-top: 43px;
  padding-bottom: 33px;
}
.logo #company-motto {
  color: #b2b2b2;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 9px;
}
.search #search-query {
  font-size: 12px;
  border: 1px solid #dddddd;
  padding: 5px 40px 5px 4px;
}
.search .btn {
  font-size: 0.75rem;
  color: white;
  border: 1px solid #d54346;
  background-color: #d54346;
  padding: 5px 4px 5px 4px;
}

@media (min-width: 768px) {
  .header-contents {
    margin: 0px auto;
  }
  .logo {
    float: left;
  }
  .logo #main-logo {
    float: left;
    padding-right: 33px;
  }
  .logo #company-motto {
    float: left;
    border-left: 1px solid #b2b2b2;
    margin-top: 10px;
  }

  .search {
    float: right;
  }
  .search input {
    margin-top: 9px;
  }

  .search #search-query {
    /* padding-left: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 81px; */
    padding: 10px 81px 10px 9px;
    font-size: 12px;
    /* border: 1px solid #dddddd; */
  }
  .search .btn {
    /* font-size: 0.75rem; */
    /*color: white; */
    /* padding-left: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 9px; */
    padding: 10px 9px 10px 9px;
    /* border: 1px solid #d54346;
    background-color: #d54346; */
  }
}
