html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  background-color: #f8f8f8;
  border-top: 10px solid #1c1c1c;
}

.search #search-query::placeholder {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar-social {
  background-color: #f8f8f8;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.navbar p {
  color: #999999;
}
.navbar ul li a:hover {
  color: #d54346;
}
.red {
  color: #d54346;
}

.slider,
.shout,
.team,
.latest-work,
.footer,
.copyright {
  background-color: #f8f8f8;
}
.footer-content,
.copyright-contents {
  background-color: #d54346;
  color: white;
}
.footer a {
  color: #631618;
}
.footer a:hover {
  color: #470203;
}
.project input:hover {
  background-color: #aa3739;
}
.box-2 ul li a span {
  color: white;
}
.box-3 form button:hover {
  background-color: #470203;
}
